@import "normalize.css";

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asteroids-canvas {
  border: 1px solid black;
  position: relative;
}

.togglePause {
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  width: 30px;
  height: 30px;

  position: absolute;
  bottom: 30px;
  right: 30px;
}
